<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.CoffeManagementConnectionString"
            connectionString="Data Source=DESKTOP-42SHU0A;Initial Catalog=CoffeManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.CoffeManagementConnectionString1"
            connectionString="Data Source=DESKTOP-V13KLIQ;Initial Catalog=CoffeManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.CoffeConnectionString" connectionString="Data Source=DESKTOP-V13KLIQ;Initial Catalog=Coffe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>